<div class="row d-flex justify-content-end">
    <div class="form-inline form-group">
        <label for="search" class="mr-2">Filter: </label>
        <input id="search" (keyup)="onChangePhrase($event)" class="form-control mr-sm-2" type="text" placeholder="Search">
                    
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th *ngFor="let col of cols" (click)="onChangeColumn(col)">{{ col }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hero of heroes$ | async | filter:phrase:'name' | sorter:order">
                    <td>{{ hero.id }}</td>
                    <td>{{ hero.name }}</td>
                    <td>{{ hero.superPower }}</td>
                    <td>{{ hero.address }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
